@use "../../../../abstracts/" as *;

.dashboard {
  height: 100vh;
  width: 100vw;
  margin: auto;

  .hero {
    @include flex(center, center);
    flex-direction: column;
    height: calc(100vh - 50px);

    .image-container {
      position: relative;
      margin-bottom: 20px;

      & > img {
        border-radius: 50%;
      }
      .edit-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
      }
    }
    .form {
      div {
        margin-bottom: 10px;
      }
      input {
        gap: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        &:focus {
          outline: none;
        }
      }

      %flex-column {
        display: flex;
        flex-direction: column;
      }
      .names,
      .country-state,
      .zip-city {
        @include flex(center, space-between);
        div {
          @extend %flex-column;
        }
      }
      .email,
      .address,
      .contact-number,
      .password {
        @extend %flex-column;
        width: 100%;
      }
    }
  }
}
