@use "../../../../abstracts/" as *;

.dashboard {
  height: 100vh;
  width: 100vw;
  margin: auto;

  .hero {
    @include flex(center, center);
    flex-direction: column;
    height: calc(100vh - 50px);

    .image-container {
      position: relative;
      margin-bottom: 20px;

      & > img {
        border-radius: 50%;
      }
      .edit-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
      }
    }
    %flex-column {
      display: flex;
      flex-direction: column;
    }
    .form {
      @extend %flex-column;
      div:not(.submit) {
        margin-bottom: 10px;
        display: flex;
        column-gap: 20px;
      }
      .submit {
        margin-top: 10px;
      }
    }
  }
}
