//primary
$clr-white: #ffffff;
$clr-red-200: #fb8e8e;
$clr-red-300: #ee8e9c;
$clr-red-400: #e84a43;
$clr-blue-200: #5585de;
$clr-blue-300: #3e80db;
$clr-blue-400: #0047ff;
//secondary
$clr-purple-100: #fff4fe;
$clr-purple-200: #c4baf0;
$clr-grey-200: #d1d1d1;
$clr-grey-300: #9a9a9a;
$clr-dgrey-500: #80808037;
$clr-dgrey-600: #414141;
$clr-teal-100: #d4fced;
$clr-sky-300: #a1f4ff;
//flex
$clr-yellow-300: #f9ee8b;
$clr-green-300: #37da6f;
$clr-dblack-800: #646363a7;
