@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$ff-roboto: "Roboto", sans-serif;

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$fw-default: $fw-400;
$fw-semi-bold: $fw-500;
$fw-bold: $fw-700;

$fs-1: 1rem;
$fs-2: 1.125rem;
$fs-3: 1.5rem;
$fs-4: 1.875rem;
$fs-7: 3.75rem;
$fs-8: 4.5rem;
