@use "../abstracts/" as *;
.flex {
  display: flex;
  height: 100%;
  .aside {
    height: 50%;
    width: 300px;
    background-color: $clr-dblack-900;
  }
  .profile {
    background-color: red;
    width: 100%;
    height: 70px;
  }

}
