
.big2{
    position: relative !important;
    width: 100% !important;
    height: 400px;
    display: flex;
    justify-content: center;
    .text-home{
        position: absolute;
        z-index: 1000;
        color: white;
        letter-spacing: 1px;
        font-family: inherit;
        text-align: center;
        display: grid;
        top: 55%;
        .big{
            font-size: 1.5rem !important;
            justify-self: center;
        }
        .par-1{
            width: 17rem;
            justify-self: center;
        }
    }
}
.slide{
    height: 400px;
    width: 100% !important;
    
    
    .slideimg{
        width: 100%;
        height: 400px;
        position: relative;
    }
    
}
.swiper-button-prev {
    left: 90% !important;
    top: 85% !important;
    position: absolute !important;
    margin-right: 1rem;
    background-color: rgb(255, 255, 255);
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 50%;
  }
  .swiper-button-next {
    right: 3rem !important;
    top: 85% !important;
    position: absolute !important;
    background-color: rgb(255, 255, 255);
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 50%;
  }

  @media (max-width:1094px) {
    
.swiper-button-prev {
    left: 80% !important;
    top: 85% !important;
    position: absolute !important;
    margin-right: 1rem;
  }
  .swiper-button-next {
    right: 3rem !important;
    top: 85% !important;
    position: absolute !important;
  }
    
  }

  @media (max-width:571px) {
    
    .swiper-button-prev {
        left: 63% !important;
        top: 85% !important;
        position: absolute !important;
        margin-right: 1rem;
      }
      .swiper-button-next {
        right: 3rem !important;
        top: 85% !important;
        position: absolute !important;
      }
        
      }
    

.container-11{
    display: grid;
    .pop-container{
        width: 90%;
        height: 15rem;
        position: relative;
        margin-top: 2rem;
        justify-self: center;
        
        .pop{
            width: 100%;
            font-family: inherit;
            font-weight: bold;
            padding-left: 10px;
        }
        .flex2{
            display: flex;
            width: 100%;
            height: 90%;
            justify-content: space-between;
            align-content: start;
            .flex-con-home-2{
                min-width: 9rem;
                min-height: 50%;
                width: 12.5rem;
                height: 65%;
                background-color: aqua;
                position: relative;
                justify-self: center;
                align-self: center;
                border-radius: 10px;
                margin: min(0.5rem);
                @media (min-width:869px) {
                    .flex-con-home-2{
                        overflow-x: scroll;
                    }
                }
            }
        }
    }
    
       
    .pop-container-1{
        width: 90%;
        height: 15rem;
        position: relative;
        justify-self: center;
        .pop-1{
            width: 100%;
            font-family: inherit;
            font-weight: bold;
            padding-left: 0px;
        }
        .flex2-1{
            display: flex;
            width: 100%;
            height: 90%;
            justify-content: space-between;
            align-content: start;
            .flex-con-home-2-2{
                min-width: 9rem;
                min-height: 50%;
                width: 12.5rem;
                height: 65%;
                background-color: aqua;
                position: relative;
                justify-self: center;
                align-self: center;
                border-radius: 10px;
                margin: min(0.5rem);
                @media (min-width:869px) {
                    .flex-con-home-2-2{
                        overflow-x: scroll;
                    }
                }
            }
        }
    }
}

