
.big2{
    position: relative !important;
    width: 100vw !important;
    height: 400px;
    display: flex;
    justify-content: center;
    .text-home{
        position: absolute;
        z-index: 1000;
        color: white;
        letter-spacing: 1px;
        font-family: inherit;
        text-align: center;
        display: grid;
        top: 55%;
        .big{
            font-size: 1.5rem !important;
            justify-self: center;
        }
        .par-1{
            width: 17rem;
            justify-self: center;
        }
    }
}
.slide{
    height: 400px;
    width: 100% ;
    
    
    .slideimg{
        width: 100vw;
        height: 400px;
        position: relative;
        object-fit: cover;
    }
    
}
.swiper-button-prev {
    left: 90% !important;
    top: 85% !important;
    position: absolute !important;
    margin-right: 1rem;
    background-color: rgb(255, 255, 255);
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 50%;
  }
  .swiper-button-next {
    right: 3rem !important;
    top: 85% !important;
    position: absolute !important;
    background-color: rgb(255, 255, 255);
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 50%;
  }

  @media (max-width:1094px) {
    
.swiper-button-prev {
    left: 80% !important;
    top: 85% !important;
    position: absolute !important;
    margin-right: 1rem;
  }
  .swiper-button-next {
    right: 3rem !important;
    top: 85% !important;
    position: absolute !important;
  }
    
  }

  @media (max-width:571px) {
    
    .swiper-button-prev {
        left: 63% !important;
        top: 85% !important;
        position: absolute !important;
        margin-right: 1rem;
      }
      .swiper-button-next {
        right: 3rem !important;
        top: 85% !important;
        position: absolute !important;
      }
        
      }
    

.container-11{
    display: grid;
    .pop-container{
        width: 90%;
        height: 15rem;
        position: relative;
        margin-top: 4rem;
        justify-self: center;
        
        .pop{
            width: 100%;
            font-family: inherit;
            font-weight: bold;
            padding-left: 10px;
        }
        .flex2{
            display: flex;
            width: 100%;
            height: 90%;
            justify-content: space-between;
            align-content: start;
            .flex-con-home-2:nth-child(1){
                background: linear-gradient(152.08deg, #5F8EE0 -6.39%, #CCF9FF 91.9%);
            }
            .flex-con-home-2:nth-child(2){
                background: linear-gradient(141.62deg, #E98EA1 -3.35%, #A78EE8 126.61%);
                .apple{
                    position: absolute;
                    top: 0.3rem;
                    left: 0.3rem;
                    width: 1.6rem;
                    height: 1.6rem;
                }
                .laptop{
                    position: absolute;
                    bottom: -1.7rem;
                    right: -2.3rem;
                    width: 30rem;
                    height: 10rem;
                }
            }
            .flex-con-home-2:nth-child(3){
                background: linear-gradient(85.06deg, #F9EE8B -37.8%, #FFBF85 133.51%);
            }
            .flex-con-home-2:nth-child(4){
                background: linear-gradient(141.62deg, #8EE4E9 -3.35%, #DFDDE4 126.61%);
            }
            .flex-con-home-2{
                min-width: 9rem;
                min-height: 9rem;
                width: 12.5rem;
                height: 65%;
                border: 1px solid black;
                position: relative;
                justify-self: center;
                align-self: center;
                border-radius: 10px;
                margin: min(0.5rem);
                .goto{
                    position: absolute;
                    top: 0.3rem;
                    right: 0.3rem;
                    width: 1.5rem;
                   height: 1.5rem; 
                   display: grid;
                   justify-content: center;
                   align-content: center;
                   border: 0;
                   border-radius: 50%;
                }
            }
        }
        @media (max-width:853px) {
            .flex2{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);
            }
        }
        @media (max-width:525px) {
            .flex2{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(4,1fr);
            }
        }
    }
          
    .pop-container-1{
        width: 90%;
        height: 15rem;
        position: relative;
        justify-self: center;
        margin-top: 3rem;
        .pop-1{
            width: 100%;
            font-family: inherit;
            font-weight: bold;
            padding-left: 0px;
        }
        .flex2-1{
            display: flex;
            width: 100%;
            height: 90%;
            justify-content: space-between;
            align-content: start;
            .flex-con-home-2-2{
                min-width: 9rem;
                min-height: 50%;
                width: 12.5rem;
                height: 65%;
                background-color: aqua;
                position: relative;
                justify-self: center;
                align-self: center;
                border-radius: 10px;
                margin: min(0.5rem);
                @media (min-width:869px) {
                    .flex-con-home-2-2{
                        overflow-x: scroll;
                    }
                }
            }
        }
    }
    @media (min-width:853px) {
        .flex2-1{
            display: grid;
            grid-template-columns: 2;
            grid-template-rows: 2;
        }
    }
}
