@use "../../abstracts/" as *;

.sign-buttons {
  button {
    margin-bottom: 20px;
  }
  .Button-sign {
    @include flex(center, center);
    &:disabled {
      pointer-events: none;
    }
    .sign-text {
      margin-left: 10px;
      display: inline-block;
      margin-bottom: -3px;
    }
  }

  .Button-sign.google {
    span {
      margin-left: 10px;
    }
  }
}
