@use "../../abstracts/" as *;

.sign-redirect {
  font-size: $fs-sm;
  & > span {
    margin-right: 5px;
  }
  & > a {
    color: $clr-blue-400;
    transition: all 0.2s;
    &:visited {
      color: $clr-blue-400;
    }
    &:hover {
      color: $clr-blue-200;
    }
  }
}