@use "../../abstracts/" as *;

.sign-form {
  width: 100%;
  @include flex(center, center);
  flex-direction: column;

  .group {
    @include flex(flex-start, center);
    flex-direction: column;
    margin-bottom: 15px;

    label {
      font-weight: $fw-bold;
      color: rgba(0, 0, 0, 0.79);
      font-size: $fs-1;
      margin-bottom: 3px;
    }

    input {
      height: 38px;
      width: 55vw;
      max-width: 380px;
      @include breakpoint(sm) {
        max-width: 100%;
        width: 65vw
      }
      border-radius: 5px;
      border: 1px solid rgba(140, 140, 140, 0.504);
      padding-left: 10px;
      transition: all 0.2s linear;

      &:focus {
        outline: 1px solid rgba(25, 25, 25, 0.504);
        transition: all 0.2s linear;
      }
    }
    &.password {
      position: relative;
    }
    &-eye-icon {
      position: absolute;
      cursor: pointer;
      position: absolute;
      right: 8px;
      bottom: 10px;
    }
  }
  
}
