@use "../../abstracts/" as *;

.sign-header {
  width: 55vw;
  max-width: 380px;
  @include breakpoint(sm) {
    max-width: 100%;
    width: 65vw
  }
  margin-bottom: 20px;
  svg {
    margin-bottom: 20px;
  }
  h1 {
    font-size: $fs-2;
    font-weight: $fw-bold;
    color: $clr-dblack-900;
    @include flex(flex-start, center);
    flex-direction: column;
  }
  p {
    font-weight: $fs-1;
    color: $clr-dblack-800;
  }
}
