@use "../abstracts/" as *;
//todo add some extends later

.Button {
  &-back-to-home {
    all: unset;
    box-shadow: 0px 1px 3px 1px $clr-dblack-800;
    background-color: $clr-blue-300;
    color: $clr-white;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: $fs-sm;
    transition: all 0.2s;
    cursor: pointer;

    &:active {
      transform: translateY(1px);
    }

    &:hover {
      box-shadow: 0px 1px 3px 1px $clr-purple-200;
    }
  }
  &-save {
    all: unset;
    box-shadow: 0px 1px 5px 0px $clr-grey-200;
    background-color: $clr-purple-100;
    width: 85px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.2s;
    margin-right: 20px;
    font-size: $fs-sm;
    color: $clr-dblack-900;
    cursor: pointer;
    &:active {
      transform: translateY(1px);
    }
    &:hover {
      box-shadow: 0px 1px 3px 0px $clr-purple-200;
    }
  }
  &-cancel {
    all: unset;
    box-shadow: 0px 1px 5px 0px $clr-grey-200;
    background-color: $clr-white;
    border: 1px solid $clr-purple-100;;
    width: 85px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.2s;
    font-size: $fs-sm;
    color: $clr-grey-300;
    cursor: pointer;
    &:active {
      transform: translateY(1px);
    }
    &:hover {
      box-shadow: 0px 1px 3px 0px $clr-purple-200;
    }
  }
}
