@use "../abstracts/" as *;

.sidebar {
  padding-top: 25px;
  height: 100vh;
  width: 300px;
  background-color: $clr-dblack-900;

  .logo {
    @include flex(center, flex-start);
    padding-left: 25px;
  }

  .links-flex {
    @include flex(center, center);
    padding-top: 25px;
    flex-direction: column;
    color: $clr-purple-100;

    .links {
      @include flex(center, flex-start);
      padding-left: 20px;
      width: 90%;
      border-radius: 10px;
      height: 45px;
      margin-bottom: 15px;
      color: $clr-white;
      display: flex;
      cursor: pointer;
      transition: all 0.2s ease;
      &-active {
        @extend .links;
        background-color: $clr-purple-100;
      }

      &-svg {
        fill: white;
        transition: all 0.2s ease;
        &-active {
          fill: rgb(0, 0, 0);
        }
      }
    }

    .header {
      margin-left: 10px;
      font-size: $fs-sm;
      letter-spacing: 0.105em;
      font-weight: $fw-semi-bold;
      &-active {
        @extend .header;
        color: $clr-dblack-900;
      }
    }
  }
}
