@use "../abstracts/" as *;
.sign-carousel-container {
  @include flex(center, center);

  .carousel-container {
    @include breakpoint(sm) {
      display: none;
    }
    @include flex(center, center);
    flex-direction: column;
    width: 50%;
    height: 100vh;
    background: linear-gradient(206.43deg, $clr-blue-200, $clr-purple-200);
    .pictures {
      @include flex(center, center);
      flex-direction: column;
      margin-bottom: 30px;
      & img {
        border-radius: 10px;
      }

      .top-img {
        @include flex(center, center);
        flex-direction: row;
        margin-bottom: 20px;
        & :nth-child(1) {
          transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
          margin-right: 50px;
        }
        & :nth-child(2) {
          transform: rotate(25.47deg);
        }
      }
      .bottom-img {
        transform: matrix(-0.99, 0.12, 0.12, 0.99, 0, 0);
      }
    }
    .text {
      @include flex(center, center);
      flex-direction: column;
      & h2 {
        font-size: $fs-2;
        color: $clr-white;
        margin-bottom: 10px;
      }
      & p {
        font-size: $fs-1;
        color: $clr-white;
        text-align: center;
        width: 300px;
      }
    }
  }
}
